<ion-header>
  <ion-navbar class="bg-dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Currency Converter</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Base:
    </ion-card-header>
    <ion-card-content class="d-flex flex-column justify-content-center">
      <div class="d-flex flex-row justify-content-around">
        <ion-label>Currency</ion-label>
        <ion-select [(ngModel)]="base">
          <ion-option value="" selected disabled>Choose Here</ion-option>
          <ion-option *ngFor="let code of codes" [value]="code">{{code}}</ion-option>
        </ion-select>
      </div>
      <ion-item>
        <ion-label floating>Enter Value</ion-label>
        <ion-input type="text" [(ngModel)]="input"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="d-flex flex-row justify-content-around">
    <button ion-button color="dark" (click)="convertBase()"><i class="fas fa-angle-double-down"></i></button>
    <button ion-button color="dark" (click)="convertTarget()"><i class="fas fa-angle-double-up"></i></button>
  </div>
  <ion-card>
      <ion-card-header>
        Target:
      </ion-card-header>
      <ion-card-content class="d-flex flex-column justify-content-center">
        <div class="d-flex flex-row justify-content-around">
          <ion-label>Currency</ion-label>
          <ion-select [(ngModel)]="target">
            <ion-option value="" selected disabled>Choose Here</ion-option>
            <ion-option *ngFor="let code of codes" [value]="code">{{code}}</ion-option>
          </ion-select>
        </div>
        <ion-item>
          <ion-label floating>Enter Value</ion-label>
          <ion-input type="text" [(ngModel)]="output"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
</ion-content>
